.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}