.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90vmin;
    height: 90vmin;
    max-width: 800px;
    max-height: 800px;
    border: 5px solid #4a3426;
    background-color: var(--board-light);
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square.light {
    background-color: var(--board-light);
}

.square.dark {
    background-color: var(--board-dark);
}

.square.selected {
    background-color: var(--highlight) !important;
}

.piece {
    font-size: 8vmin;
    /* Responsive font size */
    cursor: grab;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.piece:active {
    cursor: grabbing;
    transform: scale(1.1);
}

.piece.w {
    color: white;
    text-shadow: 1px 1px 2px black;
    /* Outline for visibility */
}

.piece.b {
    color: black;
    text-shadow: 0px 0px 2px white;
    /* Outline for visibility on dark squares */
}

.hint-dot {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 0, 0, 0.5);
    /* Transparent red */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centering */
    pointer-events: none;
    /* Let clicks pass through to square */
    z-index: 10;
}